Binaries
DerivedDataCache
Intermediate
Saved
DedicatedProject-WindowsServer.ucas
DedicatedProject-Windows.ucas
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Asset/Sci-fi_UI_Pack/Weapons/Skeletal_Meshes/Sci-fi_Rifle_02/SK_Sci-fi_Rifle_02_NoScope_NoMagazine.uasset
