Binaries
DerivedDataCache
Intermediate
Saved
DedicatedProject-WindowsServer.ucas
DedicatedProject-Windows.ucas
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace